body{
    background-color: palevioletred;
    margin: 0;
}
.cirkel{
    background-color: green;
    width: 100vmin;
    height: 100vmin;
    border-radius: 50%;
    margin: 0 auto; 
}


@media screen and (max-width: 690px){
    .cirkel{
    background-color: indianred;
    }
}
